.container {
  text-align: center;
  margin: 20px auto 20px auto;
}

.nav {
  color: #14b349;
  font-weight: bolder;
  text-decoration: none;
  font-size: 30px;
}
.Note {
  overflow: scroll;
  height: 620px;
  border: 1px solid blue;
}
