.container {
  text-align: center;
  margin: 25px auto 15px auto;
}

.nav {
  color: #14b349;
  font-weight: bolder;
  text-decoration: none;
  font-size: 30px;
}
.Note {
  overflow: auto;
  height: 700px;
  /* border: 1px solid blue; */
}
