.Rectangle {
    display: inline; 
    height: 30px;
    border-radius: 15px;
    padding: 6px 14px 7px 14px;
    box-sizing: border-box;
    margin:5px 7px 7px 0px;
    /* margin:auto; */
    word-wrap: none;
    font-family: DMSans;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
.Orange{
    background-color: rgba(255,165,0,0.18);
    color: #f17c2b;
}
.Purple{
    background-color: rgba(150, 54, 143, 0.18);
    color: #96368f;
}
.Green{
    background-color: rgba(26, 150, 145, 0.18);
    color: #1a9691;
}
.Pink{  
    background-color: rgba(230, 49, 131, 0.18);
    color: rgba(240, 11, 79, 0.938);

}
.Blue{
    background-color: rgba(0, 128, 175, 0.17);
    color: #0080af;
}
.Red{
    background-color: rgba(231, 33, 44, 0.18);
    color: #e7212c;
}
