.container {
  width: 1366px;
  height: 795px;
  border: 2px solid black;
  margin: auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.add {
  width: 479px;
  height: 644px;
  border: 2px solid black;
  margin: auto;
  /* display: inline; */
}
.details {
  width: 370px;
  height: 110px;
  border: 2px solid black;
  /* display: inline; */
}

.calender {
  width: 370px;
  height: 527px;
  border: 2px solid black;
  /* display: inline; */
}
.addHeader {
  background-color: rgba(241, 236, 236, 0.794);
  text-align: center;
  width: 100%;
  height: 48px;
  font-size: 16px;
  padding: 15px 0px;
  box-sizing: border-box;
  font-weight: bolder;
  margin-bottom: 16px;
}
.logo {
  height: 40px;
  width: 40px;
  background-color: black;
  margin: 16px 8px 22px 17px;
}
.headings {
  font-family: DMSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(158, 160, 163);
  display: block;
  margin-left: 16px;
  margin-top: 15px;
}
input,
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: grey;
  /* margin-left: 16px;
  margin-top: 15px; */
}
button {
  border: none;
}
.greenButton {
  width: 215px;
  height: 36px;
  margin: 8px;
  border-radius: 4px;
  font-size: 16px;
  background-image: linear-gradient(
    to bottom,
    rgb(20, 179, 73),
    rgb(9, 160, 79)
  );
  color: white;
}
.whiteButton {
  width: 215px;
  height: 36px;
  margin: 8px;
  border-radius: 4px;
  font-size: 16px;
  background-color: gray;
  color: white;
}
.share {
  border-radius: 15px;
  font-size: 16px;
  background-image: linear-gradient(
    to bottom,
    rgb(20, 179, 73),
    rgb(9, 160, 79)
  );
  color: white;
  width: 63px;
  height: 30px;
}
