.Header{
    width: 1366px;
    height: 56px;
}

.button{
    margin: 13px 143px 13px 800px;
    display: inline;
}

.logo {
    width: 40px;
    height: 40px;
    background-color: #152d4e;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 143px;
    display: inline;
  }

  .peekameet {
    margin: 16px 0px 16px 0px ;
    width: 104px;
    height: 24px;
    font-family: CircularStd;
    font-size: 18.8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #ffffff;
  }