.Header {
  width: 100%;
  /* height: 56px; */
  display: flex;
  /* border: 2px solid black; */
}

.logo {
  background-color: rgb(2, 2, 70);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 8px 8px 8px 143px;
}
.logoText {
  font-family: CircularStd;
  font-size: 18.8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: rgb(255, 255, 255);
  margin: 16px 754px 16px 0px;
}
.Button {
  padding: 13px 0px 13px 0px;
  box-sizing: border-box;
}
.userprofileHeader {
  display: flex;
  background-image: linear-gradient(
    to bottom,
    rgb(20, 179, 73),
    rgb(9, 160, 79)
  );
}
.userprofileHeader .logo {
  margin: 4px 14px 4px 25px;
}
.Img {
  width: 18px;
  height: 18px;
  margin: 15px;
}
.createImg {
  width: 18px;
  height: 18px;
  margin: 15px;
  background-color: white;
}
.addHeader {
  width: 100%;
  display: flex;
  padding: 16px 0px 16px 0px;
  box-sizing: border-box;
}
.addHeader .logo {
  margin: -10px 8px -8px 35px;
}
.addHeader .logoText {
  margin: 0px;
  margin-right: 70px;
  font-size: 22px;
}
.common {
  font-family: DMSans;
  font-weight: 500;
  font-size: 18.8px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0px 0px 0px 64px;
  color: rgb(223, 221, 221);
}
.addHeader .createImg {
  margin: 0px 0px 0px 64px;
}
.Home {
  font-family: DMSans;
  font-size: 18.8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: rgb(255, 255, 255);
}
