.Note {
  border: 1px solid black;
  border-left: 6px solid #14b349;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.outerDiv {
  display: flex;
  width: 288px;
}
.one {
  margin: 10px;
  word-break: normal;
  box-sizing: border-box;
  flex: 3;
  text-align: justify;
}
.two {
  padding: 8px;
  flex: 1;
  text-align: right;
  box-sizing: border-box;
  font-size: 30px;
}
.dateTime {
  color: grey;
  margin-left: 10px;
}
