.Input {
  width: 100%;
  font-family: DMSans;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.Label {
  display: block;
  color: #9ea0a3;
  font-size: 14px;
  margin: 16px 0px 8px 0px;
}

.InputElement {
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}
