.Button {
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  border-style: none;
  color: #14b349;
  border-radius: 4px;
}

.active {
  border: none;
  background-image: linear-gradient(
    92deg,
    rgb(20, 179, 73) -109%,
    rgb(9, 160, 79) 209%
  );
  color: white;
}

.Big {
  width: 431px;
  height: 36px;
}
.Small {
  width: 87px;
  height: 30px;
}
.userProfile {
  width: 135px;
  height: 30px;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgb(20, 179, 73),
    rgb(9, 160, 79)
  );
  top: 271px;
  position: absolute;
  border-style: none;
}
.userProfile1 {
  left: 17px;
}
.userProfile2 {
  left: 168px;
}
