.greentext {
  color: #14b349;
  font-size: 30px;
  font-weight: bolder;
}
.greentext2 {
  color: #14b349;
  font-size: 16px;
  font-weight: bolder;
}
.tagline {
  text-align: center;
  font-size: 25px;
  margin: 25px 15px 15px 15px;
}
.about {
  font-size: 14px;
  text-align: justify;
  margin: 0px 17px 0px 17px;
}
.headings {
  font-family: DMSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(137, 139, 141);
}
.head {
  text-align: left;
  margin: 20px 17px 0px 16px;
}

.info {
  margin: 20px 17px 5px 16px;
  word-break: break-all;
}

.address {
  font-family: DMSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
