.UserProfile {
  width: 320px;
  /* height: 800px; */
  background-image: linear-gradient(100deg, #14b349 -99%, #09a04f 199%);
  margin: auto;
  border: solid 2px black;
}
.scroll {
  overflow: scroll;
}
