.Profile {
  background-color: white;
  /* height: 568px; */
  /* overflow: auto; */
}
.disc {
  position: relative;
  height: 125px;
}
.green {
  height: 92px;
  background-image: linear-gradient(100deg, #14b349 -99%, #09a04f 199%);
}
.profilepic {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  top: 24px;
  left: 110px;
  position: absolute;
  margin: 0px 0px 8px 0px;
}
.common {
  text-align: center;
  font-family: DMSans;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;
}
.name {
  font-size: 18px;
  margin: 8px 0px 8px 0px;
}
.jobTitle {
  font-size: 16px;
  margin: 8px 0px 8px 0px;
}
.company {
  font-size: 14px;
  margin: 8px 0px 8px 0px;
}
.playButton {
  text-align: center;
  margin: 8px 0px 8px 0px;
}
.navLink {
  font-family: DMSans;
  font-size: 20px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 15px 20px 0px 17px;
}
.nav1 {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
.nav2 {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}
